<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enezaeducation.mwalimu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name="com.enezaeducation.mwalimu.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.enezaeducation.mwalimu.PerformanceActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.enezaeducation.mwalimu.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName="com.enezaeducation.mwalimu.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.enezaeducation.mwalimu.LoginActivity" />
        </activity>
        <activity
            android:name="com.enezaeducation.mwalimu.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.enezaeducation.mwalimu.ClassActivity"
            android:label="@string/title_activity_class" >
        </activity>
        <activity
            android:name="com.enezaeducation.mwalimu.AddClassActivity"
            android:label="@string/title_activity_class_students" >
        </activity>
        <activity
            android:name="com.enezaeducation.mwalimu.ClassStudentsActivity"
            android:label="@string/title_activity_class_students" >
        </activity>
        <activity
            android:name="com.enezaeducation.mwalimu.AddStudentActivity"
            android:label="@string/title_activity_class_students" >
        </activity>
        <activity
            android:name="com.enezaeducation.mwalimu.QuizActivity"
            android:label="@string/title_activity_class_students" >
        </activity>
        <activity
            android:name="com.enezaeducation.mwalimu.ClassQuizActivity"
            android:label="@string/title_activity_class_students" >
        </activity>
    </application>

</manifest>
